input,
input:focus,
textarea,
textarea:focus {
  background-color: transparent;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -webkit-appearance: textfield;
}
