
<div class="container mb-5">
  <p class="mt-5 lead text-center mb-5">Encontre aqui: Livros, HQ's, Mangás e muito mais...</p>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="course-card">
        <span class="order-badge">
        1
        </span>
        <div class="gradient-wrapper bg-custom">
          <div class="based-icon bg-custom">
            <!-- <img src="https://cataline.s3-accelerate.amazonaws.com/course-icon/15be0dca-00a4-4ba2-9384-4d937657cd5c.svg" alt="Fundamentos da programação" class="icon"> -->
          </div>
        </div>
        <div class="content">
          <h3  class="title">Livros</h3>
          <p  class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos sed consectetur, dolorum voluptatibus veniam nesciunt numquam. Magni excepturi facilis accusamus!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="course-card">
        <span class="order-badge">
        1
        </span>
        <div class="gradient-wrapper bg-custom">
          <div class="based-icon bg-custom">
            <!-- <img src="https://cataline.s3-accelerate.amazonaws.com/course-icon/15be0dca-00a4-4ba2-9384-4d937657cd5c.svg" alt="Fundamentos da programação" class="icon"> -->
          </div>
        </div>
        <div class="content">
          <h3  class="title">HQ's</h3>
          <p  class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos sed consectetur, dolorum voluptatibus veniam nesciunt numquam. Magni excepturi facilis accusamus!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="course-card">
        <span class="order-badge">
        1
        </span>
        <div class="gradient-wrapper bg-custom">
          <div class="based-icon bg-custom">
            <!-- <img src="https://cataline.s3-accelerate.amazonaws.com/course-icon/15be0dca-00a4-4ba2-9384-4d937657cd5c.svg" alt="Fundamentos da programação" class="icon"> -->
          </div>
        </div>
        <div class="content">
          <h3  class="title">Mangás</h3>
          <p  class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos sed consectetur, dolorum voluptatibus veniam nesciunt numquam. Magni excepturi facilis accusamus!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="course-card">
        <span class="order-badge">
        1
        </span>
        <div class="gradient-wrapper bg-custom">
          <div class="based-icon bg-custom">
            <!-- <img src="https://cataline.s3-accelerate.amazonaws.com/course-icon/15be0dca-00a4-4ba2-9384-4d937657cd5c.svg" alt="Fundamentos da programação" class="icon"> -->
          </div>
        </div>
        <div class="content">
          <h3  class="title">Filmes</h3>
          <p  class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos sed consectetur, dolorum voluptatibus veniam nesciunt numquam. Magni excepturi facilis accusamus!</p>
        </div>
      </div>
    </div>

  </div>
</div>
